//navbar theme variables
$bd-color: transparent;
$bg-color: #ededed;
$bg-hover-color: #e0e0e0;
$brand-color: #3498db;
$text-color: #3498db;
$text-hover-color: #2c3e50;

//navbar structure variables
$navbar-height: 70px;
$navbar-border-width: 1px;

//brand variables 
$brand-font-size: 2.4rem;

//transition variables
$transition-mode: ease;
$transition-time: 0.35s;